*{
    margin:0;
    padding: 0;
  }
  body{
    background-color: rgb(183, 209, 228);
  }
  .flexbox{
    display:inline-block;
  vertical-align:top;
    justify-content: space-between;
    width: 100%;
    max-height: 4768p;
    height: 100vh;
    overflow: hidden;
    margin-left:2px;
 
  }
  .flexbox .board{
    display:inline-block;
    vertical-align:top;
  
   width: 100%;
   max-width:335px;
   height:600px;
  background-color:rgb(0, 56, 96);
  margin-left: 10px;

  border-radius: 10px;
  }
  
  .flexbox .board .card{
    padding:15px 25px;
    background-color: rgb(165, 193, 206);
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 10px;
    height:100px ;
    color:rgb(0, 56, 96);
  }
  h2{
    margin-bottom:20px;
    color:rgb(183, 209, 228);
    border-bottom: 2px solid rgb(183, 187, 189);
    padding-bottom: 10px;
    text-align: center;
  }
  .lagout{

    width:100px;
    height: 25px;
    color:rgb(183, 187, 189);
    margin-top:5px; 
    margin-bottom: 20px;
    text-align: right;

  }
  .boardlist{
    width:80px;
    height: 25px;
   margin-bottom:50px;
   padding-left:20px;
   min-height: 80px;

   padding-bottom: 30px;
   
  }
  .boardlist button{
    width:200px;
    height: 25px;
    margin-left:20px;
    border-radius:8px;
    color:rgb(0, 56, 96);
    
  }
  .boardlist h4{
    margin-left:10px;
    color :rgb(0, 56, 96);
    font-weight: 300;
  }
  .link{
    color:rgb(0, 56, 96);
    text-decoration: none;
  }
  .boardlist p {
    margin-top:20px;
    margin-left: 20px;
  }
  .dash{
    margin-top: 7px;
  }
  .dash i {
    width:20px;
    color:rgb(183, 187, 189); ;
  }
  

  
 









  





 